In [1]:
import pandas as pd
import numpy as np

In [2]:
doc1 = 'I am Hamza Ali'
doc2 = 'I am from Mansehra'
doc3 = 'I am Computer Engineer'
doc4 = 'I love Pakistan'
doc5 = 'Pakistan Ziandabad'
doc6 = 'Alhamdulillah'

In [3]:
df = pd.DataFrame({'Text' : [doc1, doc2, doc3, doc4, doc5, doc6], 'Output' : [1,1,1,2,2,3]})
df

                     Text  Output
0          I am Hamza Ali       1
1      I am from Mansehra       1
2  I am Computer Engineer       1
3         I love Pakistan       2
4      Pakistan Ziandabad       2
5           Alhamdulillah       3

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf_idf = TfidfVectorizer()

In [8]:
vectors = tf_idf.fit_transform(df["Text"]).toarray()
vectors.shape   ### Vocabulary is 11 and total 6 Documnet

(6, 11)

Vocabulary is 11 and total 6 Documnet

In [10]:
vectors[0]          ### te weightage of each word

array([0.        , 0.63509072, 0.4396812 , 0.        , 0.        ,
       0.        , 0.63509072, 0.        , 0.        , 0.        ,
       0.        ])

In [13]:
print(tf_idf.get_feature_names_out())
print(tf_idf.idf_)

['alhamdulillah' 'ali' 'am' 'computer' 'engineer' 'from' 'hamza' 'love'
 'mansehra' 'pakistan' 'ziandabad']
[2.25276297 2.25276297 1.55961579 2.25276297 2.25276297 2.25276297
 2.25276297 2.25276297 2.25276297 1.84729786 2.25276297]